<!DOCTYPE html>

<html>
  
  <head>
    
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form method='post'>
      
      <div class='team_info'>
        <label for='team[name]'>Team Name: </label>
        <input type='text' name='team[name]'><br>
        <label for='team[motto]'>Team Motto: </label>
        <input type='text' name='team[motto]'><br>
      </div>
      
      <%
        x = 0
        while x <= 3
        x += 1
      %>
        <h2>Hero <%=x%></h2>
        <input type='text' name=[team][][hero]
      
      <% end %>
      
      
    </form>
    
  </body>
</html>
