<!DOCTYPE html>

<html>
  
  <head>
    
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form method='post' action='/team'>
      
      <div class='team'>
        <label for='team[name]'>Team Name: </label>
        <input type='text' name='team[name]'><br>
        <label for='team[motto]'>Team Motto: </label>
        <input type='text' name='team[motto]'><br>
      </div>
      
      <%
        x = 0
        while x < 3
        x += 1
      %>
        <div class='hero'>
          <h2>Hero <%=x%></h2>
          <label for='team[hero][][name]'>Hero Name: </label>
          <input type='text' name='team[hero][][name]' id='member<%=x%>_name'><br>
          <label for='team[hero][][power]'>Hero Power: </label>
          <input type='text' name ='team[hero][][power]' id='member<%=x%>_power'><br>
          <label for='team[hero][][bio]'>Hero Biography: </label>
          <input type='text' name = 'team[hero][][bio]' id='member<%=x%>_bio'><br>
        </div>
      <% end %>
      
      <input type='submit' name='submit' id='submit' value='Submit'>
      
      
    </form>
    
  </body>
</html>
